/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Fira Sans;
    
}
body{
  background-color: #f5f5f5;
  max-width: 12800px;
}
/* button hover  */
body button:hover{
    background-color: rgb(141, 46, 6);
    cursor: pointer;
}
/* nav section design */
.nav-section{
    width: 1080px;
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 800px;
    margin-top: 20px;
    
}
.nav-section button{
    
    border: 1px solid green;
    color: rgb(97, 237, 104);
    background-color: white;
    border-radius: 7px;
    padding: 13px;
    font-weight: 800;
    
    
}


/* Main Banner Section Design */

.main-banner-section{
    display: flex;
    width: 1010px;
    height: 448px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 228, 214);
    margin-top: 40px;
    border-radius: 24px;
    padding: 30px;
    
}
.main-banner-section h3{
   opacity: 0.4; 
}
.main-banner-section h1{
    font-size: 45px;
    margin-top: 20px;
}
.main-banner-section button{
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: green;
    font-weight: 400px;
    
}

/* Piller section Style */

.piller-section{
    width: 1070px;
    margin-top: 80px;
    
}
.piller-content{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    
}
.piller-content div{
    height: 350px;
    width: 280px;
   
    background: #fff;
    padding-left: 14px;
    padding-top: 19px;
    /* box-shadow: 1px 1px 10px 0px black; */
    border-radius: 10px;
    border: 1px solid rgba(14, 14, 14, 0.15)
}
.piller-content h2{
    margin: 10px 0px 10px 0px; 
}

/* Vision Section Style */
.vision-section{
    width: 1070px;
    margin-top: 80px;
    
}
.vision-section p{
    margin-top: 20px;
}
.vision-content{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   gap: 57px;

}
.vision-content div{
    border-radius: 10px;
    padding: 37px;
    height: 240px;
    width: 270px;
}
.vision-content h1,p,img{
    
    margin-bottom: 15px;
}
.vision-box1{
    background: rgba(84, 144, 245, 0.2);
    
}
.vision-box1 button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(84, 144, 245);
}
.vision-box2{
    background: rgb(198, 228, 214);
    
}
.vision-box2 button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(9, 161, 92);
    margin-top: 14px;
}
.vision-box3{
    background: rgb(247, 235, 207);
    
}
.vision-box3 button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 194, 57);
    margin-top: 14px;
}
/* younus section design */

.younus-section{
    width: 1070px;
    margin-top: 30px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    
}
.younus-section .bg{
background-image: url('../assets/quote-bg.png');
background-repeat: no-repeat;
background-position: left top;
background-attachment: local;

}
.younus-content{
    padding: 13px;
    
}
.younus-section p,h4{
    margin-top: 10px;
}

/* recent news design */

.recent-news-section{
    width: 1070px;
    margin-top: 50px;
}
.recent-news-content{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 50px;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    padding: 20px;
}
.recent-news-content button{
    padding: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(9, 161, 92);
    margin-top: 14px;
}
.recent-news-content p{
    margin-top: 20px;
}
.recent-news-content img{
    margin-top: 20px;
}
.recent-news-content .satelite{
    border-radius: 30px;
}
.recent-news-section h1{
    margin-bottom: 20px;
}
.recent-news-section .reverse{
    flex-direction: row-reverse;
}

/* donate section design */
.donate-section{
  width: 1070px;
  margin-top: 40px;
  text-align: center;
  
}
.donate-section h1,p{
margin-bottom: 20px;
}
.donate-money{
  display: flex;
  gap: 10px;
  flex-direction:row;
  width: 750px;
  
}
.money-box{
 
  background-color: #fff;
  padding: 30px;
  height: 20px;
  width: 120px;
  margin-top: 30px;
  border-radius: 10px;
  
}
.color-box{
  background-color: blanchedalmond;
}
.money-box:hover{
  background-color: cornflowerblue;
}
.donate-section input{
  width: 600px;
  text-align: center;
  padding: 10px;
  margin-top: 14px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  
}
.donate-section button{
  padding: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(9, 161, 92);
  margin-top: 14px;

}
/* subscribe section style */

 .subscriber-section{
  width: 1070px;
  text-align: center;
  margin-top: 50px;
  background-color: #C6E4D6;
  padding: 20px;
  height: 200px;
   display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 10px;
}
.subscriber-section p{
  margin: 15px 0px 15px 0px;
}
.subscriber-section input{
padding: 20px 0px 20px 40px;
width: 400px;
border-radius: 10px 0px 0px 10px;
border: none;

}
.subscriber-section button{
  padding: 20px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  gap: none;
  color: white;
  background-color: rgb(9, 161, 92);
  position: absolute;
}
.input-button{
  position: relative;
  padding: 0 16px;
  margin-right: 100px;
 
} 

/* footer section design */

.last-section{
  
  background-color: #fff;
  margin-top: 50px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}
.last-section h1,img{
  padding: 15px;
}
.last-section hr{
  width: 700px;
}